@font-face {
  font-family: 'AvenirNextRegular';
  src:  url(../fonts/AvenirNext-Regular.eot);
  src:  url(../fonts/AvenirNext-Regular.eot?#iefix) format("embedded-opentype"),
        url(../fonts/AvenirNext-Regular.woff) format("woff"),
        url(../fonts/AvenirNext-Regular.ttf) format("truetype"),
        url(../fonts/AvenirNext-Regular.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

