mixin dev_head(page_title)
    head
        title=page_title
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        link(rel='stylesheet', href='styles/main_global.css', media='all')
        script(src='js/modernizr.js')
        script(src='js/jquery1.10.js')
        script(src='js/script.js')


mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block



mixin header()
    div.header
        .section_inner.clearfix
            .forum_label
                p Форум Русскоязычного Сообщества

            .disclaim_holder
                a.gl_link.inner_link.link_white_red.disclaimOpener(href='#') Дисклеймер
                .disclaim_wrapper
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            

mixin footer ()
    .footer
        .section_inner.clearfix
            .subscribes
                p Подписано Всего 
                    a.gl_link.link_white_red.external_link(href='#') 310
                    |  Сегодня 
                    a.gl_link.link_white_red.external_link(href='#') 12

            .footer_adds
                p
                    a.gl_link.link_white_red.external_link(href='#') Требуются Модераторы

            .copyright
                p © 2016 Ru.Net.Ge
            